# Environment variables

# Ngrok
NGROK_EDGE=%NGROK_EDGE%
NGROK_ENTRYPOINT=%NGROK_ENTRYPOINT%
NGROK_AUTHTOKEN=%NGROK_AUTHTOKEN%

# Calendly
CALENDLY_ACCESS_TOKEN=%CALENDLY_ACCESS_TOKEN%
CALENDLY_WEBHOOK_URI=${NGROK_ENTRYPOINT}/webhook/calendly

# LinkedIn
LINKEDIN_CLIENT_ID=%LINKEDIN_CLIENT_ID%
LINKEDIN_CLIENT_SECRET=%LINKEDIN_CLIENT_SECRET%
LINKEDIN_REDIRECT_URI=${NGROK_ENTRYPOINT}/linkedin/callback

#EspoCRM
ESPOCRM_URL=%ESPOCRM_URL%
ESPOCRM_API_KEY=%ESPOCRM_API_KEY%

