<a href="#">
    <div id="count-messenger" class="card text-white m-3 text-center shadow-lg bg-secondary">
        <div class="card-header"><i class="fas fa-exchange-alt fa-3x text-white m-2"></i></div>
        <div class="card-body">
            <h4 class="card-title text-white">
                <span id="count-messenger"></span> Messenger
            </h4>
        </div>
    </div>
</a>
