<div class="card card-sm">
{#    <a href="{{ url('contact.index') }}" class="text-reset">#}
        <div class="card-body">
            <div class="row align-items-center">
                <div class="col-auto">
                    <span class="bg-orange text-white avatar">
                        <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-building"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 21l18 0" /><path d="M9 8l1 0" /><path d="M9 12l1 0" /><path d="M9 16l1 0" /><path d="M14 8l1 0" /><path d="M14 12l1 0" /><path d="M14 16l1 0" /><path d="M5 21v-16a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v16" /></svg>
                    </span>
                </div>
                <div class="col">
                    <div class="font-weight-medium">
                        {{ count }} Companies
                    </div>
                    {#                    <div class="text-secondary">#}
                    {#                        12 waiting payments#}
                    {#                    </div>#}
                </div>
            </div>
        </div>
{#    </a>#}
</div>
