<div class="card">
    <div class="card-body">
        <div class="d-flex align-items-center">
            <div class="subheader">Contacts</div>
            <div class="ms-auto lh-1">
            </div>
        </div>
        <div class="d-flex align-items-baseline">
            <div class="h1 mb-0 me-2">{{ count }}</div>
        </div>
    </div>
</div>
