{% extends '/layout/tabler-layout.html.twig' %}

{% block page_title %}{{ 'dashboard.title' | trans }}{% endblock %}

{% block page_content %}
<h4>User dashboard</h4>
<div class="row">
    <div class="col-md-2 col-sd-4"
        hx-get="{{ path('dashboard.embed.mail_summary') }}"
        hx-trigger="revealed"
    >
    </div>
    <div class="col-md-2 col-sd-4"
        hx-get="{{ path('dashboard.embed.worker_status') }}"
        hx-trigger="revealed"
    >
    </div>
</div>
{% endblock %}
