<div class="card" id="modalEmbedContent">
    <div id="modalEmbedTitle" hx-swap-oob="true">{% block page_title %}{% endblock %}</div>
    <div class="card-body">
        {% block page_content %}
            Replace with content
        {% endblock %}
    </div>
</div>
