<div class="card">
{% for imapAccount in imapAccounts %}
    <table class="table table-vcenter card-table table-striped table-hover table-sm">
    <thead>
        <tr><th>{{ imapAccount.name }}</th></tr>
    </thead>
    <tbody>
    {% for folder in imapAccount.folders %}
        <tr><td
                style="cursor: pointer"
            hx-get="{{ path('webmail_list', { imapConfigId: imapAccount.id, folderPath: folder.name|url_encode }) }}"
            hx-target="#mailList"
            >{{ folder.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>
{% endfor %}
</div>
