{% extends '/layout/tabler-layout.html.twig' %}
{% trans_default_domain 'webmail' %}

{% block page_title %}WebMail{% endblock %}

{% block page_actions %}
<a href="{{ url('webmail_imap_list') }}" class="btn btn-default"><i class="ti ti-inbox"></i>&nbsp;{{ 'imap.action.list'|trans }}</a>
{% endblock %}

{% block page_content %}
<div class="row">
    <div
        class="col-md-3"
        hx-get="{{ url('webmail_mailboxes') }}"
        hx-trigger="revealed"
    >loading</div>
    <div class="col-md-9" id="mailList"></div>
</div>
{% endblock %}


