{% extends '/layout/tabler-layout.html.twig' %}
{% trans_default_domain 'admin' %}

{% block page_title %}WebMail{% endblock %}

{% block page_content %}
<div class="row">
    <div
        class="col-md-2"
        hx-get="{{ path('webmail_folders') }}"
        hx-trigger="revealed"
    ></div>
    <div class="col-md-10" id="mailList"></div>
</div>
{% endblock %}


