{% set avatar = this.avatar %}
{% if avatar != null %}
    <span class="avatar" style="background-image: url({{ avatar }})"></span>
{% else %}
    <span class="avatar">{{ this.initials }}</span>
{% endif %}
